

<header>

    <div style="float:right">
        Welcome <%= @me.email %>
        <p>
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete  %>
        <!--
            <%= button_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-default" %>
        -->
    </div>

</header>

<div class="container">

    <div class="row">
        <div class="col-md-4">
            <div style="float:right">
                <%= image_tag "Vishnu.jpg" %>
            </div>
        </div>

        <div class="col-md-4">
            <span>
                <%= @tao %>
        </span>
        </div>
        <div class="col-md-4">
        </div>
    </div>

</div>


<footer>

</footer>